@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0;
  background: hsl(233, 47%, 7%);
}
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  align-items: center;
  align-content: center;
}
h2 {
  color: hsl(0, 0%, 100%);
  background: hsl(244, 38%, 16%);
}
span {
  color: hsl(277, 64%, 61%);
  background: hsl(244, 38%, 16%);
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  background: hsl(244, 38%, 16%);
}
.number {
  color: hsl(0, 0%, 100%);

  background: hsl(244, 38%, 16%);
  font-size: 20px;
  padding-top: 30px;
}

.maincontain {
  width: 700px;
  min-height: 200px;
  margin: 10px auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border-radius: 15px;
  border: 2px hsl(233, 47%, 7%);
  border-radius: 10px;
}
.main {
  width: 700px;
  height: 270px;
  display: flex;

  background: hsl(244, 38%, 16%);
  border-radius: 10px;
}
.left {
  background: hsl(244, 38%, 16%);
  width: 350px;
  margin: 30px;
}
li {
  background: hsl(244, 38%, 16%);
  list-style-type: none;
}
ul {
  background: hsl(244, 38%, 16%);
}
.num {
  display: flex;
  background: hsl(244, 38%, 16%);
}
.right {
  width: 350px;
  background-image: url(/image-header-desktop.jpg);
  background-size: cover;
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
}
.letter {
  background: hsl(244, 38%, 16%);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 10px;
}

@media screen and (max-width: 375px) {
  .maincontain {
    width: 350px;
    padding: 50px;
    text-align: center;
    align-items: center;
    display: block;
  }
  .right {
    width: 350px;
    height: 40vh;
    background-image: url(/image-header-mobile.jpg);
    background-size: cover;
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
    border-radius: 5px 5px 0 0;
  }
  .main {
    width: 100%;

    padding: 0;
    display: flex;

    flex-direction: column-reverse;
    min-height: 100vh;
  }
  h2 {
    margin-top: 20px;
  }
  p {
    margin-top: 20px;
  }
  .left {
    width: 100%;
    text-align: center;
    height: 80vh;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .num {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
}
.attribution {
  margin-top: 200px;
  margin-left: 50px;
}
